
<div class="section">
  <div class="columns is-mobile">
    <div class="column is-half-desktop is-full-mobile is-offset-one-quarter-desktop">
      <h1 class="title is-2">Posts</h1>
      <% @posts.each do |post| %>
        <div class="box">
          <div class="title is-5"><%= post.title %></div>

          <% if user_signed_in? %>
            <p class="subtitle is-6">
              <%=  post.user.name %>
            </p>
          <% end %>
          <p><%= post.body %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


